<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
     <clear />
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
     <add key="gitlab" value="https://gitlab.com/api/v4/projects/75591172/packages/nuget/index.json" />
 </packageSources>
 <packageSourceCredentials>
     <gitlab>
         <add key="Username" value="EduardNikitin" />
         <add key="ClearTextPassword" value="glpat-8XvxAKWQ_U4toswfWIU-1286MQp1OmlrYTlvCw.01.120yuo1lt" />
     </gitlab>
 </packageSourceCredentials>

 <packageSourceMapping>
    <packageSource key="nuget.org">
        <package pattern="*" />
    </packageSource>
    
    <packageSource key="gitlab">
        <package pattern="EduardNikitin.*" />
    </packageSource>
 </packageSourceMapping>
</configuration>